NodeRedFlow
[{"id":"34a71b6e.35f194","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a664a141.c7551","type":"function","z":"34a71b6e.35f194","name":"Skriver melding med dato","func":"var date;\ndate = new Date();\ndate = (date.getFullYear() + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + ('00' + date.getDate()).slice(-2) + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n\nmsg = {\n        payload: \"Alarm ble registert: \" + Date().toString(),\n        topic: \"Alarm har gått!\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["a6d881c7.1a68d8"]]},{"id":"a6d881c7.1a68d8","type":"join","z":"34a71b6e.35f194","name":"Samler varsler som kommer pr. 30 sek","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"30","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":200,"wires":[["77edc1e5.1ba59","7e938f1d.6798b"]]},{"id":"e9aa5bb9.d649b","type":"function","z":"34a71b6e.35f194","name":"Legger ved link til webside med bilde","func":"msg = \n{\n        payload: \"Se siste alarmbilde: http://128.39.113.147:5000/alarm\",\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["77edc1e5.1ba59"]]},{"id":"77edc1e5.1ba59","type":"join","z":"34a71b6e.35f194","name":"Kompilerer melding","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":200,"wires":[["43ff0449.2b0f9c"]]},{"id":"4d84ed49.de5864","type":"play audio","z":"34a71b6e.35f194","name":"Alarm","voice":"0","x":590,"y":100,"wires":[]},{"id":"43ff0449.2b0f9c","type":"e-mail","z":"34a71b6e.35f194","server":"smtp.office365.com","port":"465","secure":false,"name":"147194@usn.no","dname":"Sender e-mail","x":740,"y":260,"wires":[]},{"id":"5c6e028b.937d04","type":"rpi-gpio in","z":"34a71b6e.35f194","name":"Leser av alarmstatus på GPIO 22","pin":"15","intype":"down","debounce":"25","read":false,"x":350,"y":140,"wires":[["4d84ed49.de5864","a664a141.c7551"]]},{"id":"7e938f1d.6798b","type":"delay","z":"34a71b6e.35f194","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":260,"wires":[["e9aa5bb9.d649b"]]}]
